.footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    display:fixed;
}

.footer-links {
    margin-bottom: 10px;
}

.footer-links a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
}

.to-top-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.to-top-btn:hover {
    background-color: #555;
}
