
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    width: 100;
    background-color: #dfe7ec;
}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    background-color: rgb(168, 58, 58);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

img {
    max-width: 100%;
    height: auto;
}

h2 {
    margin-top: 10px;
    font-size: 1.5rem;
}

p {
    margin-top: 5px;
    font-size: 1rem;
    color: #555;
}

.view-all-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.view-all-button:hover {
    background-color: #0056b3;
}
