/* Add this CSS to your existing stylesheet or create a new CSS file */

.pizza-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pizza-card {
    border: 1px solid #ccc;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 250px;
  }
  
  .pizza-card img {
    max-width: 100%;
    height: auto;
  }
  
  .pizza-card h3 {
    margin-top: 10px;
    font-size: 1.2rem;
  }
  
  .pizza-card p {
    margin-top: 5px;
    color: #777;
  }
  
  .pizza-card p.price {
    color: #d93f00;
    font-weight: bold;
  }
  
  .category-titles {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .category-title {
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    border-bottom: 2px solid transparent;
  }
  
  .category-title.active {
    border-bottom-color: #007bff; /* Change this color to your desired active color */
  }
  
  .add-to-cart-button {
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    display: block;
    margin: 0 auto;
  }
  
  .add-to-cart-button:hover {
    background-color: #0056b3;
  }
  